
	<div class="service">
			<h1>Superbuy超級寶服務條款</h1>
			
			<div class="servicein">
			<h2>1. 認知與接受</h2>
			<p>條款 方客特有限公司依據本服務條款提供Superbuy超級寶﹙以下簡稱Superbuy﹚﹙http:// www.superbuy.tw ﹚服務﹙以下簡稱「本服務」﹚。當您使用Superbuy時，即視為您已閱讀、瞭解並同意此約定書之所有內容。Superbuy有權於任何時間變更與修改本約定書之內容，您需隨時注意Superbuy修改與變更之內容。若您於任何變更與修改之後繼續使用本服務，也視為您已閱讀、瞭解並同意本服務之修改與變更。若您不同意此約定內容，您必須立即停止使用本服務。若您未滿十八足歲，除應符合上述規定外，並應於您的家長或監護人閱讀與瞭解並同意本約定之所有內容以及每次修改變更後，才得以使用或繼續使用本服務。當您使用或繼續使用本服務即表示您的家長或是監護人已閱讀、瞭解並同意接受本約定書之所有內容以及所有修改與變更。</p>
			<h2>2. 與第三人網站的連結 </h2>
			<p>Superbuy提供買賣訂單管理工具平台，您可能會連結或是瀏覽到其他國家、業者的網站，並不表示Superbuy與您連結、瀏覽到的業者有任何擁有、持股、共同經營的關係，其他業者經營的網站不屬於Superbuy負責範圍之內，並對於其檢索結果不擔保所有資訊的即時、有效、正確、完整、合適、依賴性，您於使用本服務或是經Superbuy連結至其他網站索取地的任何資訊，並不保證完全正確。</p>
			<h2>3. 您的註冊義務，安全使用 </h2>
			<p>您於註冊使用本服務，視為您同意以下事項：<br>
				1) 您依照本服務的註冊資料表提供您本人最新、正確以及完整的資料。並且您保證為您個人並無任何冒用、頂替的行為發生；<br>
				2) 您有義務維護並更新您的最新、正確、完整個人資料，若您提供任何錯誤或不實的資料，Superbuy有權拒絕您使用本服務之全部或一部分，並有權暫時停止或完全中止您的帳號，若您提供任何錯誤或是不實的資料，您必須負責因提供此項資料所衍生之任何影響之結果，本站概不負責；<br>
				3) 關於使用Facebook認證登入註冊，本站因使用Facebook認證登入註冊，不代表本站與www.Facebook.com官方有任何持有股份、共同經營等任何關係，您有義務維持Facebook帳號內容資料之正確性、完整性，若您的Facebook帳號因濫用或違反Facebook使用條款遭到其官方封鎖您的Facebook帳號，本服務並無為您申訴、反應等義務。並在您使用您的Facebook帳號所進行的一切行為，您將負起完全責任，若您的密碼與帳號遭到盜用或任何其他安全問題發生，您需與Facebook官方聯絡並處理；<br>
				4) 關於使用Facebook認證登入註冊，本站因使用Facebook認證登入註冊，本站有權要求您以本人實名登錄或維護您的Facebook帳戶資訊，您可選擇接受或不使用本服務，或Superbuy與方客特有限公司將有權暫停或完全拒絕您使用本服務。<br></p>
			<h2>4. 兒童及青少年之保護</h2>
			<p> 您同意願意遵守中華民國相關法規以及一切使用國際網際網路之合理慣例，並且承諾絕對不以任何非法方式以及非法目的使用Superbuy及其所有服務，若您為中華民國以外之使用者，並同意遵守所屬國家以及地區與地域的法令，您同意並保證不利用本服務從事任何侵害他人權益或違法行為，此些行為包括但是並不限於以下：<br>
				1) 上載、張貼、公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於本服務上；<br>
				2) 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利；<br>
				3) 違反依法律或契約所應負之保密義務；<br>
				4) 冒用他人名義使用本服務；<br>
				5) 上載、張貼、傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料；<br>
				6) 從事不法交易行為或張貼虛假不實、引人犯罪之訊息；<br>
				7) 販賣槍枝、毒品、禁藥、盜版軟體或其他違禁物；<br>
				8) 提供賭博資訊或以任何方式引誘他人參與賭博；<br>
				9) 濫發廣告郵件、垃圾郵件、連鎖信、違法之多層次傳銷訊息等；<br>
				10) 以任何方法傷害未成年人；<br>
				11) 偽造訊息來源或以任何方式干擾傳輸來源之認定；<br>
				12) 干擾或中斷本服務或伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等，包括但不限於：使用任何設備、軟體或刻意規避Superbuy搜尋標頭﹙robotexclusionheaders﹚；<br>
				13) 對於恐怖行動提供任何實質支持或資源；<br>
				14) 追蹤他人或其他干擾他人或為前述目前蒐集或儲存他人之個人資訊；<br>
				15) 其他Superbuy有正當理由認為不適當之行為。<br>
			<h2>5. 系統中斷或故障 本</h2>
			<p>服務有可能會出現中斷或故障等不可預期現象，或許將造成您使用上的不便、商品未購買到、資料喪失、錯誤、遭人篡改、其他不可歸責於Superbuy之事由導致其他經濟上損失等情形，我們會為您盡全力回復資訊或找尋新商品、商場購買，但不負責任何經濟損失賠償、或您與其他對象有形、無形之約定責任。您於使用本服務時宜自行採取防護措施。若因您自身電腦資安漏洞而遭人篡改資料，我們僅協助提供電磁資料給警方，Superbuy對於您因使用（或無法使用）本服務而造成的損害，除故意或重大過失外，不負任何賠償責任。</p>
			<h2>6. 下載軟體或資料</h2>
			<p> Superbuy對於您使用本服務或經由Superbuy連結之其他網站而下載的軟體或資料，不負任何擔保責任。您應於下載前自行斟酌與判斷前述軟體或資料之合適性、有效性、正確性、完整性、及是否侵害他人權利，以免遭受損失（例如：造成您電腦系統受損、或儲存資料流失等）；Superbuy對於該等損失不負任何賠償責任。</p>
			<h2>7. 廣告 </h2>
			<p>您在本服務中瀏覽到的所有廣告內容、文字與圖片之說明、展示樣品或其他銷售資訊，均由各該廣告商、產品與服務的供應商所設計與提出。您對於廣告之正確性與可信度應自行斟酌與判斷。Superbuy僅接受委託予以刊登，不對前述廣告負擔保責任。Superbuy僅提供訂單管理服務，不對任何商品負擔保的責任。</p>
			<h2>8. 使用及儲存 </h2>
			<p>您同意Superbuy得就本服務訂定一般措施及限制，包含但不限於：本服務將保留電子郵件訊息、網頁存檔訊息、佈告欄公告內容或其他上載內容之最長期間。若Superbuy將本服務維持或傳送之任何訊息、通訊和內容刪除或未予儲存，您同意Superbuy毋須承擔任何責任。並且您亦同意，長時間未使用的帳號，Superbuy有權利對此等帳號暫停或是關閉。您也同意Superbuy有權依其自行之考量，不論通知與否，隨時變更這些一般措施及限制。</p>
			<h2>9. 所提供的資訊或建議</h2>
			<p> Superbuy對於本服務所提供之資訊或建議有權隨時修改或刪除。您在做出任何相關規劃與決定之前，仍應請教專業相關人員針對您的情況提出意見，以符合您的個別需求。
			1)	買賣或其他交易、約定行為 Superbuy提供會員訂單管理的服務，體驗方便的管理系統服務平台，使用Superbuy的服務系統必須遵守Superbuy的處理流程與網站約定事項。 您同意並了解以下事項：
			i.	Superbuy是一個系統服務提供網站，若您因為使Superbuy提供的服務系統，而被收取系統使用費用時，系統使用費用的發票將會在委託案件結案時開立給您。
			ii.	為保障所有會員使用Superbuy服務的可靠性以及永續經營，如有不清楚或任何疑慮，可電洽Superbuy轉接專人為您提供說明，若您仍有其他考量，您也可另尋其他管道接受您的委託，Superbuy保有最終的決定權。
			<h2>10.	免責聲明 </h2>
			<p>您確定瞭解、並且同意：Superbuy對每位會員所提供的服務，服務的宗旨以及服務的規範，對服務的內容以及呈現並不提供任何明示或暗示的保證，這些範圍包含但不僅限於商業、特定目的的適用性以及侵害他人任何權利。Superbuy不保證以下事項：<br>
			1) 本服務將符合您的商業或非商業的需求；<br>
			2) 本服務不受中斷、干擾、錯誤、保證即時提供、安全可靠、或保證絕無出錯可能；<br>
			3) 您經由本服務取得的任何產品、服務、商品、資訊或任何參考或非參考資料符合您的任何預期性預估。任何因為開啟任何資料之下載或瀏覽導致您電腦或資訊系統有任何損壞或資料流失或刪除，您確定瞭解並同意需要負完全責任。您也同意從本服務、本系列網站取的所有資訊與建議、參照之資訊、建議，無論是影音、文字、書面、圖像或是口頭，均不構成本服務之保證；<br>
			4) 由本服務及軟體之使用而取得之結果為正確或可靠。您所填寫的會員資料即為物品申報進口時的所有人資料，若您隨意填寫造成個人或機關團體的任何損失，您將負全部責任；<br></p>
			<h2>11. 智慧財產權的保護</h2>
			<p> Superbuy所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計、會員內容等，均由Superbuy或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、公開傳輸、公開演出、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，除明確為法律所許可者外，必須依法取得Superbuy或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，您應對Superbuy負損害賠償責任。Superbuy及其關係企業為行銷宣傳本服務，就本服務相關之商品或服務名稱、圖樣等（以下稱「Superbuy商標」），依其註冊或使用之狀態，受商標法及公平交易法等之保護，未經Superbuy事前書面同意，您同意不以任何方式使用Superbuy商標。</P>
			<h2>12. 您對Superbuy之授權 </h2>
			<p>若您無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入或提供予Superbuy。您所上載、傳送、輸入或提供予Superbuy之任何資料，其權利仍為您或您的授權人所有；但任何資料一經您上載、傳送、輸入或提供予Superbuy時，即表示您同意：<br>
			1) 由Superbuy及其關係企業儲存或管理該資料，並由Superbuy及其關係企業之搜尋工具進行索引及抓取，並公開刊登、使用於Superbuy及其關係企業的相關系統網路上，包括但不限於Superbuy所聯盟或合作的第三人網站上；<br>
			2) 授權Superbuy及其關係企業可以基於公益或為宣傳、推廣或經營Superbuy及本服務之目的，進行使用、修改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸、公開上映、翻譯該等資料，並得在此範圍內將前述權利轉授權他人。您並保證Superbuy及其關係企業使用、修改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸、公開上映、翻譯、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對Superbuy及其關係企業負損害賠償責任。<br>
			<h2>13. 拒絕或終止您的使用 </h2>
			<p>您同意Superbuy得基於其自行之考量，因任何理由，包含但不限於缺乏使用，或Superbuy認為您已經違反本服務條款的明文規定及精神，終止您的Facebook登入（或其任何部分）或本服務之使用，並將本服務內任何「會員內容」加以移除並刪除。Superbuy亦得依其自行之考量，於通知或未通知之情形下，隨時終止本服務或其任何部分。您同意依本服務條款任何規定提供之本服務，無需進行事先通知即得終止，您承認並同意，Superbuy得立即關閉或刪除您的帳號及您帳號中所有相關資料及檔案，及停止本服務之使用。此外，您同意若本服務之使用被終止，Superbuy對您或任何第三人均不承擔責任。</p>
			<h2>14. 準據法與管轄法院</h2>
			<p>1) 本約定書之條款解釋、補充及適用均以中華民國相關法令為準據法。會員約定條款中任何條款之全部或一部份無效時，不影響其他約定之效力。 <br>
			2) 因本約定書所生之爭議，雙方同意以台灣台北地方法院為第一審管轄法院。<br><br><br>

			最後更新日期：2013/09/25</P>







			</div>
			
		
	</div>
